<header style="text-align:center;">
	<h1 
		style="text-align:center; margin-left: auto; margin-right: auto; color: green; background-color: white;">{{ pageTitle }}
	</h1>
	<p style="display:inline-block; margin:5px; padding:3px; border:1px solid black; border-radius:3px; background-color:#aaaaff;"><a href="/">Home</a></p>
	<p style="display:inline-block; margin:5px; padding:3px; border:1px solid black; border-radius:3px; background-color:#aaaaff;"><a href="/about">About</a></p>
	<p style="display:inline-block; margin:5px; padding:3px; border:1px solid black; border-radius:3px; background-color:#aaaaff;"><a href="/projects">Projects</a></p>
</header>