<header>
	<h1 
		style="text-align:center; margin-left: auto; margin-right: auto; color: green; background-color: yellow;">{{ pageTitle }}
	</h1>
	<p><a href="/">Home</a></p>
	<p><a href="/about">About</a></p>
</header>