<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> title }}
		<p>Some text here lorem ipsum blakalaka rublestom</p>

		{{> footer }}
	</body>
</html>