<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Site under maintenance</title>
	</head>
	<body style="background-color: orange; text-align: center;">
		<h2 style="margin-top: 50px;">{{ screamIt 'attention' }}</h2>
		<p>{{ screamIt 'sorry, this page is currently under maintenance' }}</p>
		<p>Will be back ASAP. Thank you for your patience.</p>
	</body>
</html>